$screen-sm: 460px;
$screen-md: 768px;
$screen-lg: 1000px;

.container {
  width: 100%;
  background: #fff;
  margin: 0 auto;
  padding: 0;
  @media (min-width: $screen-sm) {
    /*padding: 0px 10px 10px 10px; */
  }
  @media (min-width: $screen-md) {
    /*padding: 0px 20px 20px 20px;  */
  }
  @media (min-width: $screen-lg) {
    width: 1000px;
    /*padding-bottom: 20px;*/
  }
}

#main {
    position: relative;
    clear: both;
}

body {
    background-color: #656565;
    font-family: Arial, Helvetica, sans-serif;
}

.section {
  padding: 20px 0;
}

.banner-img {
  /*cursor: pointer;*/
  width: 1000px;
  height: auto;
}

@media (max-width: $screen-md) {
  .donate-section {
    display: flex;
    display: -webkit-flex;
    flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    align-items: center;
    -webkit-align-items: center;

    .donate-button-container {
      height: 385px;
    }
  }
}

.call-to-action {
  padding: 50px 0;
  background-color: #386B83;
  color: white;
  text-align: center;

  .call-to-action-text {
    margin: 0;
    font-size: 50px;
  }
}

.donate-section {
  background-color: #386B83;
  padding-top: 0;

  .ap-light {
    /*this is for the amazon donate button*/
    width: 90%;
  }

  .panel-container {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    align-items: center;
    -webkit-align-items: center;
  }

  .donate-button-container {
    height: 385px;

    a:hover {
      text-decoration: none;
    }
  }

  .donate-button {
    cursor: pointer;
    background-color: #FF5C1A;
    width: 180px;
    height: 80px;
    border-radius: 0;
    border: none;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: space-around;
    align-items: center;
    -webkit-align-items: center;

    h3 {
      font-size: 34px;
      font-family: Arial;
      margin: 0;
      color: white;
      padding-top: 10px;
    }
    p {
      color: white;
      margin: 0;
      padding-bottom: 10px;
    }

    &:hover {
      background-color: rgb(255,122,56);
    }
  }
}

.progress-bar-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .progress-bar>span {
    color: black;
  }

  .donation-ticker {
    background-color: #EBEBEB;
    height: 350px;
    width: 90%;

    h1 {
      padding-top: 15px;
    }
    
    p {
      font-size: 10px;
    }
  }

.story-section {
  /*background-color: #386B83;*/
  background-color: #363753;

  .story-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    h5>strong {
      color: white;
    }
  }

  .continued-story {
    width: auto !important;
  }
  
  iframe {
    width: 100%;
    height: 220px;
  }

  p {
    color: white;
  }

  li {
    color: white;
  }

  h4 {
    color: white;
  }
}

.top-donations {
  background-color: #193547;

  .donater-container {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .donater {
      display: flex;
      display: -webkit-flex;
      background-color: white;
      width: 235px;
      margin-right: 20px;
      margin-bottom: 20px;
      justify-content: center;
      align-items: center;

      .inner-donater {
        width: 100%;
        background-color: #E46E18;
        margin: 10px;

        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: flex-start;
        -webkit-align-items: flex-start;
        flex-direction: column;
        -webkit-flex-direction: column;

        img {
          margin-top: 7px;
          align-self: center;
        }
        h4 {
          margin: 10px 7px;
          height: 90px;
        }
        h3 {
          margin: 5px 7px;
          color: white;
        }
        p {
          margin: 0 7px;
        }
      }
    }
  }
}

.footer {
  background-color: #363753;
}

@media (min-width: $screen-sm) {
  iframe {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: $screen-md) {
  iframe {
    width: 80%;
    margin-right: auto;
    margin-left: 0;
  }
}
.donate {
  background-color: #386B83;

  iframe {
    height: 2300px;
    display: block;
  }

  .donate-form {
    margin: 0 20px;
  }

  .wide-input {
    width: 100%;
    margin-bottom: 20px;
  }
}

.aspect-ratio {
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 0;
  padding-bottom: 51%;

  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

/*ticker css*/
[ticker] *{box-sizing:border-box}[ticker].active{display:block;height:195px;overflow-y:hidden}[ticker] li{padding:10.5px;transition:opacity .3s ease,margin 1s ease}[ticker] .fade-out{opacity:0}[ticker] .minus-margin-top{margin-top:-39px}

.ticker {
  width: 90%;

  li {
    list-style: none;
  }
}

.donater-img {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.header {
  padding: 0;
  position: relative;
}

#home-link {
  position: absolute;
  left: 90px;
  top: 15px;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  box-shadow: 1px 1px 2px white;
  border-radius: 3px;
}

/*cell phone stuff*/

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 500px) {

  .donate-button {
    width: 80% !important;
    height: 130px !important;

    h3 {
      font-size: 75px !important;
    }
    p {
      font-size: 32px !important;
    }
  }

  .ap-dw-list-item > a {
    font-size: 32px !important;
  }

  .progress-bar-success > span {
    font-size: 24px;  
  }

  .call-to-action-text {
    font-size: 65px !important;
  }

  .panel-container {
    width: 100%;
  }
  .donation-ticker {
    width: 80%;
    font-size: 32px;
    height: 390px !important;

    h1 {
      font-size: 45px;
    }
    p {
      font-size: 45px;
    }
  }
  .ap-light {
    width: 80% !important;
  }

  .donate-section {
    display: flex;
    display: -webkit-flex;
    flex-direction: column-reverse;
    align-items: center;

    .donate-button-container {
      height: 420px;
    }
  }

  .aspect-ratio, .story-container {
    width: 80% !important;
  }

  .story-element {
    margin-left: auto;
    margin-right: auto;
    float: none;
    font-size: 32px;
  }

  .donater {
    h4 {
      font-size: 28px;
    }
    p {
      font-size: 20px;
    }
    h3 {
      font-size: 28px;
    }
  }

}
