$screen-sm: 460px;
$screen-md: 768px;
$screen-lg: 1000px;

.container {
  width: 100%;
  background: #fff;
  margin: 0 auto;
  padding: 0;
  @media (min-width: $screen-sm) {
    /*padding: 0px 10px 10px 10px; */
  }
  @media (min-width: $screen-md) {
    /*padding: 0px 20px 20px 20px;  */
  }
  @media (min-width: $screen-lg) {
    width: 1000px;
    /*padding-bottom: 20px;*/
  }
}

#main {
    position: relative;
    clear: both;
}

body {
    background-color: #656565;
    font-family: Arial, Helvetica, sans-serif;
}

.section {
  padding: 20px 0;
}

.banner-img {
  /*cursor: pointer;*/
  width: 1000px;
  height: auto;
}

.donate-section {
  background-color: #386B83;

  .panel-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .donate-button-container {
    height: 300px;
  }

  .donate-button {
    background-color: #FF5C1A;
    width: 180px;
    height: 65px;
    border-radius: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
      font-size: 34px;
      font-family: Arial;
      margin: 0;
      color: white;
    }
  }
}

.progress-bar-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .donation-ticker {
    background-color: #EBEBEB;
    height: 350px;
    width: 275px;

    h1 {
      padding-top: 15px;
    }
    
    p {
      font-size: 10px;
    }
  }

.story-section {
  background-color: #386B83;

  .continued-story {
    width: auto !important;
  }
  
  iframe {
    width: 100%;
    height: 220px;
  }

  p {
    color: white;
  }

  li {
    color: white;
  }

  h4 {
    color: white;
  }
}

.top-donations {
  background-color: #193547;

  .donater-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .donater {
      display: flex;
      background-color: white;
      width: 235px;
      margin-right: 20px;
      margin-bottom: 20px;
      justify-content: center;
      align-items: center;

      .inner-donater {
        width: 100%;
        background-color: #E46E18;
        margin: 10px;

        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        img {
          margin-top: 7px;
          align-self: center;
        }
        h4 {
          margin: 10px 7px;
        }
        h3 {
          margin: 5px 7px;
          color: white;
        }
        p {
          margin: 0 7px;
        }
      }
    }
  }
}

.footer {
  background-color: #363753;
}

.donate {
  background-color: #386B83;

  .donate-form {
    margin: 0 20px;
  }

  .wide-input {
    width: 100%;
    margin-bottom: 20px;
  }
}


/*ticker css*/
[ticker] *{box-sizing:border-box}[ticker].active{display:block;height:195px;overflow-y:hidden}[ticker] li{padding:10.5px;transition:opacity .3s ease,margin 1s ease}[ticker] .fade-out{opacity:0}[ticker] .minus-margin-top{margin-top:-39px}

.ticker {
  width: 225px;

  li {
    list-style: none;
  }
}