<div class="donate-section section clearfix">

  <!-- donation metrics -->
  <div class="col-xs-12 col-sm-6 panel-container" href=''>
    <div class="donation-ticker">

      <!-- title -->
      <h1 class='text-center'>{{totalRaised | currency:'$':0}}</h1>
      <p class='text-center'>Out of $500,000 goal</p>

      <!-- progress bar -->
      <div class="progress-bar-container">
        <uib-progressbar class='progress-striped' value="totalRaised" max="goal" type='success'>
          {{(totalRaised < goal) ? percentRaised : 100}}%
        </uib-progressbar>
      </div>

      <!-- ticker -->
      <ul ticker timing="2000" class='ticker'>
        <li ng-repeat="item in myTickerItems" class="item-{{$index}}">
          <span>{{item.name}}</span>   <span class='pull-right'>{{item.amount | currency}}</span>
        </li>
      </ul>
      
    </div>
  </div>


  <!-- donate buttons -->
  <div class="col-xs-12 col-sm-6 panel-container donate-button-container">
    
    <!-- marys place donate button -->
    <!-- <div>
      <a ui-sref='donate'>
        <button type="button" class="donate-button">
          <h3>DONATE</h3>
          <p>WITH CREDIT CARD</p>
        </button>
      </a>
    </div> -->

    <div class='donate-button' ui-sref='donate'>
      <h3>DONATE</h3>
      <p>WITH CREDIT CARD</p>
    </div>

    <!-- amazon donate button -->

    
    <script async src="https://static-na.payments-amazon.com/OffAmazonPayments/us/js/Widgets.js"></script>
    <div
        data-ap-widget-type="expressDonationWidget"
        data-ap-widget-theme="ap-light"
        data-ap-widget-amount-presets="12,50,100,500"
        data-ap-widget-default-amount="1"
        data-ap-signature="K2mEYa5FqmvDoUnPmfXuaWcwXN39i%2F3yRRM1yM1yrSo%3D"
        data-ap-seller-id="A1RWX7F84N8AO4"
        data-ap-access-key="AKIAJOIXU3D7HAZ7JDIQ"
        data-ap-lwa-client-id="amzn1.application-oa2-client.f069df74940d4390880e7e9190c7e1cc"
        data-ap-return-url="http://www.marysplaceseattle.org/"
        data-ap-currency-code="USD"
        data-ap-amount="0"
        data-ap-note="Thank you for providing shelter to homeless families in Seattle!"
        data-ap-shipping-address-required="false"
        data-ap-payment-action="AuthorizeAndCapture">
    </div>

  </div>
</div>

