<div class="story-section section clearfix">
  
  <div class="col-xs-12 col-sm-12 col-md-6 story-element clearfix">
    <div class="aspect-ratio">
      <iframe src="https://youtu.be/Wz4SSn7y5nY" frameborder="0"></iframe>  
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-6 story-element">
    <div class="story-container">
      <h4><strong>THE STORY</strong></h4>
      <h5><strong>EVENT DATE: NOV 11, 2016</strong></h5>
      <h5><strong>DEADLINE TO GIVE: DEC 31, 2016</strong></h5>
      <p>Over 550 families sleep outside in Seattle every night, mostly single mothers with children, sleeping in places that are cold, wet, and unsafe.</p>
      <p>Please join our incredible supporters Dick’s Drive-In Restaurants, evo, Vulcan Inc., Seattle Interactive Conference, Laird Norton Company LLC, Windermere Real Estate, Expedia, KPMG & Bank of America to help Mary's Place raise over $500,000 to open a crisis-response winter night shelter and bring Seattle families inside at night.</p>
      
      <button class="btn btn-primary" ng-click="toggleStoryVisibility()" ng-hide="storyIsVisible">Read more</button>

      <div uib-collapse='!storyIsVisible' class='continued-story'>
        <p>With your help, we can make our goal of moving families out of encampments, doorways and cars and into safe, emergency shelter a reality.</p>
        <ul>
          <li>For every $10,000 we raise, 25 families can get the down payments they need to move in to transitional or permanent housing.</li>
          <li>$120,000 will provide over 10,000 nights of shelter for families currently sleeping outside.</li>
          <li>$200,000 will fund the opening of a Family Center offering complete resources 24/7 to move families forward to more stable living situations more quickly.</li>
          <li>$350,000 will allow us to create a Family Referral System that will connect homeless families with available shelter beds in King, Pierce and Snohomish counties.</li>
          <li>$500,000 would pay for a crisis-response night shelter for one year to bring families experiencing homelessness inside to safety, and provide 18,000 additional bed nights for families in need next year.</li>
        </ul>

        <p>Mary’s Place empowers more than 200 homeless women, children, and families each night to reclaim their lives by providing shelter, nourishment, resources, healing and hope in a safe community.</p>

        <p>We are building on last year’s success and incredible support for No Child Sleeps Outside. Together with our sponsors and generous community, we raised over $325,000–far surpassing our goal of $250,000! That success allowed us to open the Jackson Street Emergency Family Shelter for the winter, and keep it open an additional four months.</p>

        <p>At the Jackson Street shelter we provided 9,320 bed nights, moved 23 families into more stable housing situations and helped over 110 of our families find stability. At Mary’s Place, a homeless family begins its journey out of homelessness and into permanent housing.</p>
        
        <p>This year, we’re doubling our goal. We CAN bring those 550 families inside and out of cars, bus stations, and doorways. </p>
        
        <p>But still there are families being turned away. We need to do more. We need YOUR HELP to bring these families – moms, dads, and children – inside to warmth and safety this winter.</p>
      </div>
    </div>
  </div>
</div>

